<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<h1>About Me</h1>
<h2>New Astro site</h2>
<p>I'm working through the blog tutorial</p>
<p>This will eventually be a drum & Bass music blogging site</p>
