---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>

  <h1>ear to the streets</h1>
</Layout>
