---
import Layout from '../layouts/Layout.astro'
const pageTitle = 'Welcome to Astro.'
---

<Layout title="Welcome to Astro.">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>ear to the streets</h1>
  </body>
</Layout>
